#welcome{
    height: 100vh;
}

#about-me{
    min-height: 50vh;
    background-color: whitesmoke
}

#projects{
    min-height: 80vh;
    background-color: gainsboro;
}

#resume{
    min-height: 89vh;
    background-color: pink;
}

#connect{
    min-height: 30vh;
    background-color: paleturquoise;
}

body{
    background: url(https://github.com/aprilfaithdays/Portfolio/blob/master/src/Visuals/Background.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
}

 /* ********* Welcome ********* */

.container{
    padding-top: 1.5%;
    padding-bottom: 5%;
}

.welcome{
    padding-top: 35vh;
    text-align: center;
}

.name{
    text-align: center;
    font-size: 77px;
    font-family: 'Dancing Script', cursive;
}

.subtitle{
    text-align: center;
    margin-top: -1.5vh;
    font-size: 25px;
}

.title{
    text-align: center;
    margin-bottom: 3%;
}

#photo{
    text-align: center;
    margin-bottom: 2%;
    
}

.photo{
    width: 70%;
    height: auto;
}

.description{
    margin-top: 10%;
    /* background-color: lavender; */
}
