#welcome{
    height: 100vh;
    padding-top: 30vh;
}

#about-me{
    min-height: 40vh;
    background-color: rgb(255, 209, 219)
}

#projects{
    min-height: 80vh;
    background-color: rgba(255, 252, 247);
}

#resume{
    min-height: 89vh;
    background-color: rgb(255, 209, 219)
}

#connect{
    min-height: 30vh;
    background-color: rgba(233, 233, 233);
}

body{
    background: url(https://raw.githubusercontent.com/aprilfaithdays/Portfolio/master/src/Visuals/bg.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    font-family: 'Assistant', sans-serif;
    font-size: 14.75px;
}

h2{
    font-weight: 700;
    text-align: center;
}

h3{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 2vh;
}

h4{
    font-weight: 700;
    font-size: 18px;
}

h5{
    font-weight: 600;
    font-size: 17px;
}

.container{
    padding-top: 1.5%;
    padding-bottom: 5%;
}

.color{
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.color:hover{
    color: rgb(240, 114, 135);
    font-weight: 600;
}

.center{
    text-align: center;
}

.title{
    text-align: center;
    padding-top:4vh;
    padding-bottom: 1vh;
    margin-bottom: 3%;
    border-bottom-style: solid;
    border-width: thin;
    border-color: rgba(56, 55, 55, 0.568);
}

.row{
    display: flex;
    justify-content: center;
}

 /* ******************************* Navbar ******************************* */

.navi{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 252, 247);
}

 /* ******************************* Welcome ******************************* */

 .welcome{
    padding-top: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
 }

.name{
    text-align: center;
    font-size: 71px;
    font-family: 'Dancing Script', cursive;
    border-bottom-style: solid;
    border-width: thin;
    border-color: rgba(56, 55, 55, 0.568);
    
	text-shadow: -1px 1px 2px rgba(255, 252, 247),
				  1px 1px 2px rgba(255, 252, 247),
				  1px -1px 0 rgba(255, 252, 247),
				  -1px -1px 0 rgba(255, 252, 247);

}

.subtitle{
    text-align: center;
    margin-top: 1.5vh;
    font-size: 28px;
    padding-bottom: 25px;

    text-shadow: -1px 1px 2px rgba(255, 252, 247),
    1px 1px 2px rgba(255, 252, 247),
    1px -1px 0 rgba(255, 252, 247),
    -1px -1px 0 rgba(255, 252, 247);
}

 /* ******************************* About Me ******************************* */

#photo{
    text-align: center;
    margin-bottom: 2%;
}

.photo{
    width: 100%;
    height: auto;
}


.description{
    margin-top: 6%;
}

 /* ******************************* Projects ******************************* */

.player-wrapper {
    margin-top: 3%;
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
    margin-bottom: 4vh;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

.desc-card{
    margin-top: 2vh;
}

 /* ******************************* Resume ******************************* */

 .skills{
    padding: 2%;
    font-size: 14px;
 }

 .bullets{
    font-size: 14px;
 }

.company{
    text-align: center;
    margin-bottom: 3%;
}

.logo{
    width: 50%;
    height: 4.5vh;
    margin-bottom: 3%;
    object-fit: cover;
}

 /* ******************************* Connect ******************************* */

